<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }} – {{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- font setup using Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

  <style>
    body { 
      max-width: 700px; 
      margin: auto; 
      font-family: 'Playfair Display', serif;
      padding: 1rem; 
      line-height: 1.6;
    }
    img { 
      display: block; 
      margin: 1.5rem auto; 
      max-width: 100%;
      border-radius: 8px;
    }
    h1 { text-align: center; }
  </style>
</head>
<body>
  {{ content }}
</body>
</html>
